/* Container holding the image and the text */
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .my-searchbar {
    max-width: 400px;
  }

  .searchbar-input-container {
    background: transparent !important;
    height: 40px !important;
    font-size: 1.25em !important;
    box-shadow: none !important;    
    border: 0px solid transparent;
} 

#review {
    text-align:center;
    display: inline-block;
    vertical-align: middle;
    //flex: 1 1 auto;
}

#review-cont {
    flex-flow: row;
    //display: inline-block;
    background: white;
}

#line {
    background: gray;
    width: 2px;
    height: 50px;
    //display: inline-block;
    vertical-align: middle;
}

#guide {
    margin:0px;
    //display: inline-block;
    //width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    //display: inline-block;
    //width: 100%;
    //height: auto;
    overflow: hidden;
}

.image {
    width:100%;
    vertical-align: top;
}

#info {
    position: relative; 
    bottom: 0; 
    width: 100%; 
    background: white;
    display: inline-block;
    margin:0px;
}

ion-icon {
    font-size: 20px; //Preferred size here
    vertical-align: middle
}   

.textMedium {
    display: inline-block;
    font-size: 20px; 
    vertical-align: middle;
    margin: 5px;
}

.textBig {
    display: inline-block;
    font-size: 30px; 
    vertical-align: middle
}

#distance {
    //display: inline-block; 
    width: 100%;
    vertical-align: middle;
}

.center {
    text-align: center;
}
