<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{place.name}}</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="close()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="content-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Place Photos</ion-card-title>
      </ion-card-header> 
      <ion-card-content>
        <div id="carousel" >
          <div class="slide" *ngFor = "let image of place.images;">
            <img class="image" src="{{glob.getFileURL(image, guide.guide_uuid, guide.mode)}}" >
            <button class="btn" (click)="deleteImage(image)"><ion-icon name="trash"></ion-icon></button>
          </div>
        </div>
        <ion-button shape="round" (click)="shot()" [hidden]="!glob.isMobile()"><ion-icon name="camera"></ion-icon></ion-button>
        <ion-button shape="round" (click)="loadImage()" [hidden]="!glob.isMobile()"><ion-icon name="document"></ion-icon></ion-button>

        <input type="file" #fileImagePlace name="fileImagePlace" id="fileImagePlace" class="inputfile" (change)="imgFileSelectedPlace($event)" hidden="glob.isMobile()"/>
        <label id="inputImagePlace" #inputImagePlace for="fileImagePlace">
          <ion-button [hidden]="glob.isMobile()" (click)="browseImage()"><ion-icon name="document"></ion-icon></ion-button>
        </label>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Place Audio</ion-card-title>
      </ion-card-header> 
      <ion-card-content>
        <audio controls #myaudio id="myaudio"></audio>
        <br>
        <ion-button shape="round" (click)="recordAudio2()" [disabled]="disableRecord" [hidden]="!glob.isMobile()"><ion-icon name="mic"></ion-icon></ion-button>
        <ion-button shape="round" (click)="stopRec()" [disabled]="!disableRecord" [hidden]="!glob.isMobile()"><ion-icon name="square"></ion-icon></ion-button>
        <ion-button shape="round" (click)="recordAudio()" [hidden]="!glob.isMobile()">Ext</ion-button>

        <input type="file" #fileAudioPlace name="fileAudioPlace" id="fileAudioPlace" class="inputfile" (change)="fileSelectedPlace($event)"/>
        <label id="myInputPlace" #myInputPlace for="fileAudioPlace">
          <ion-button [hidden]="glob.isMobile()" (click)="browse()"><ion-icon name="document" [hidden]="glob.isMobile()"></ion-icon></ion-button>
        </label>        
      </ion-card-content>
    </ion-card>

    <ion-card id="descr-card">
        <ion-card-header>
          <ion-card-title>Place Description</ion-card-title>
        </ion-card-header> 
        <ion-card-content id="descr-card-content">
          <ion-textarea id="text-area-descr" text-wrap type="text"  [(ngModel)]="place.description" #place.description="ngModel" #descriptionField></ion-textarea>  
        </ion-card-content>
    </ion-card>   

<!--
    <ion-card>
      <ion-card-header>
        <ion-card-title>Video</ion-card-title>
      </ion-card-header> 
      <ion-card-content>
        <ion-button shape="round" (click)="recordVideo()"><ion-icon name="videocam"></ion-icon></ion-button>
        <ion-button shape="round" (click)="playbackVideo()"><ion-icon name="play"></ion-icon></ion-button>
        <br>
        <video controls #myvideo width="100%">
        </video>      
      </ion-card-content>
    </ion-card>
-->

  </div>

</ion-content>
