<div class="my-tab-bar">

  <!--
  <div class="my-tab-btn">
  <div class='round'>
    <ion-icon name="walk" size="large"></ion-icon>
  </div>
   Walk
</div>
<div class="my-tab-btn">
    <div class='round'>
      <ion-icon name="play" size="large"></ion-icon>
    </div>
    Meditate
</div>
-->

<my-tab-button icon="walk" text="Track" ></my-tab-button>
<my-tab-button icon="list" text="Tracks" ></my-tab-button>
<my-tab-button icon="mic" text="Guides"></my-tab-button>
  
</div>

<div id="whitespace"></div>