#content-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#map_canvas {
    flex-grow: 1 !important;
}

#lines {
    width: 100%;
    height: 100%;
    background: transparent;// rgba(128,128,128,0.1);
    left: 0px;
    top: 0px;
    position: absolute;
}

#searchBox {
    //width: 90%;
    width: 250px;
    //margin: 0 auto;
    //--placeholder-opacity: 50%;
    //background: transparent;
    //position: relative;
    //color: white;
  }

  #btns_end {
    float: right;
  }


  #info {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    //height: 200px; 
    border: 1px solid red;
    color: black;
    background: white;
    display: inline-block
  }

  #toolbar {
    display: flex;  
    align-items: center;
  }

  #map_toolbar {
    position: absolute; 
    top: 0; 
    width: 100%; 
    //height: 200px; 
    border: 1px solid red;
    color: black;
    background: white;
    display: inline-block
  }
  
  

